article {
  font-family: Georgia, serif;
  width: auto;
}

figure#me {
 float: right;
 clear: right;
 padding-left: 10px;
 padding-bottom: 10px;
}

figure#me figcaption {
 font-size: 11px;
 line-height: 13.5px;
 text-align: center;
 width: 440px;
}

code {
 font-family: monospace;
}

body {
 color: rgba(0,0,0,0.9);
 font-size: 14px;
 line-height: 17.5px;
 margin: auto;
 max-width: 900px;
 padding-bottom: 10px;
 
 text-align: justify;
 }

article {
 padding-left: 2em;
 padding-right: 2em;
}

h1,
h2,
h3,
h4 {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-weight: 500;
 margin: 21px 0 10.5px 0;
}
h1 {
 color: #375EAB;
 font-size: 24px;
}
h2 {
 font-size: 20px;
 background: #E0EBF5;
 padding: 8px;
}
h2 a {
 font-weight: bold;
}
h3 {
 font-weight: bold;
}
h4 {
 font-size: 16px;
 text-decoration: underline;
}

a {
 color: #375EAB;
 text-decoration: none;
}
a:hover {
 text-decoration: underline;
}

p, ul {
 -webkit-hyphens: auto;
 -moz-hyphens: auto;
 hyphens: auto;
 margin: 10.5px 0 10.5px 0;
 }

#biography tr td:first-child {
 padding-right: 20px;
 text-align: right;
 }
