// Placeholder to allow overriding predefined variables smoothly.

$base-font-size: 18px;
$base-line-height: 1.5;

//$base-font-family: Lato, Helvetica, sans-serif;
// $base-font-family: Lato;
$base-font-family: "Open Sans";

$code-font-family: monospace;
$code-background-color: #dfe5e8;

$article-width: 780px;

$background-color: #f3f4f6;
$text-color: #222222;

$document-border-color: #ccc;

// $sidebar-background: #f9fafb;
$sidebar-background: white;
// $sidebar-border-color: #e4e7eb;
$sidebar-border-color: white;
$sidebar-width: 250px;
