// Placeholder to allow overriding predefined variables smoothly.

$base-font-size: 17px;
//$base-line-height: 1.5;

//$base-font-family: Lato, Helvetica, sans-serif;
$code-font-family: monospace;
$code-background-color:  #DFE5E8;

$content-width:   760px;

$sidebar-background:    #E8E4DF ; // Timberwolf Gray
$sidebar-width:         240px !default;

// $base-font-family: Lato;