// Placeholder to allow overriding predefined variables smoothly.

$base-font-size: 17px;

$content-width:   700px;

$sidebar-background:    #E8E4DF ; // Timberwolf Gray
$sidebar-width:         240px !default;

// $base-font-family: Lato;