<!DOCTYPE html>

<html lang="en-us">
 <head>
  <meta charset="utf-8">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168540911-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-168540911-1');
  </script>

  <style>
    {% include style.css %}
  </style>

  <title>
  {% if page.title %}{{page.title}}{% else %}Oleksandr Gituliar{% endif %}
  </title>
 </head>

 <body>

  <article>
   <div id="content">
   {{content}}
   </div>

  <hr>
  Last update: {{ page.last_modified_at }}
  </article>

 </body>
</html>
